 Django specific ignores
*.log
*.pot
*.pyc
__pycache__/
celerybeat-schedule/
db.sqlite3
media/  # User-uploaded files, if you implement them later

# Virtual environment
venv/
.env  # If you use a .env file for environment variables

# Spotipy token cache
local_tokes.json

# IDE specific ignores (add if you use these IDEs)
.idea/  # PyCharm
.vscode/  # VS Code

# Operating System specific
.DS_Store # macOS
Thumbs.db # Windows